extends layout 
block content
  // post box
  h1(style='text-align: center; margin-top:4vw') Hub Forum
  #margin-box(style='height:60vw;position:absolute;top:10vw; overflow-y: hidden;')
    h1(style=' margin:10vw 0 0 62vw;transform: rotate(180);') My Feed
    #addForm
      form(action='/post' method="post")
        input(style="display:none" type="text" name="username" value= user.username)
        h1 Title
        input(type='text' name="title")
        h1 Message
        textarea#message(type='text' name="message")
        <br>
        <br>
        input(id="submit" type="submit" value="Post") 
    #friendsList
      h1 Users List
      each users in userArray
        #friend
          img#friendPic(src='https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg')
          a(href='/user/'+user.username+'/'+ users.username)
            h1 #{users.displayName}
  #content(style="height:65vw;")
    #margin-box(style="height:50vw;")
      h1(style=' text-align: center;') My Feed
      each post in postArray 
        #post-header
          a(href='/post/'+post.postId+'/'+user.username)
            h1(style="background-color:#555") #{post.title}
          p #{post.date}
          p #{post.time}
          p User: #{post.user}
        #post
          p #{post.message}
    footer
        h1 The Hub - Powered by the plug
    
