extends layout 
block content
  #profile-cover
    #profileInfo
      //- //img#profilePic(style='position:relative;left:17vw;top:-2vw;' src='https://www.personality-insights.com/wp-content/uploads/2017/12/default-profile-pic-e1513291410505.jpg')
      p(style='position:relative;left:22vw;top:-2vw;  font-size:1vw;') #{user.displayName}
      //- //p(style='position:relative;left:22vw;top:-2vw; font-size:1vw;') 
      
      #statusMsg
        p #{user.message}
    #content(style='top:60vw;height:65vw')
      #margin-box(style='height:50vw;')
        h1(style="text-align:center;margin-top:2.5vw") My's Post
        each post in postArray 
          #post-header
            a(href='/post/'+post.postId+'/'+user.username)
              h1(style="background-color:#555") #{post.title}
            p #{post.date}
            p #{post.time}
            p User: #{post.user}
          #post
            p #{post.message}
            form(action='/editPost/'+post.Id method="get") 
              input(type="submit" value="Edit")
            form(action='/deletePost/'+post.Id method="get") 
              input(type="submit" value="Delete")
      footer
        h1 The Hub - Powered by the plug
